body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.titulo {
    margin-bottom: 30px;
    color: #333;
}

.carrusel-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: none;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(75, 83, 32, 0.8);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.nav-button:hover {
    background-color: rgba(75, 83, 32, 1);
}
